<!-- <style>
    .container .box-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
    }
  
    li {
      text-decoration: none;
      color: aliceblue;
      padding-top: 10px;
      padding-bottom: 7px;
    }
  
    .mbox {
      font-size: 22px;
    }
  
    .mbox a {
      display: inline-block;
      padding: 8px 20px;
      background-color: #000;
      border: 1px solid purple;
      color: grey;
      font-size: 17px;
      border-radius: 10px;
    }
  
    .br {
      visibility: none;
    }
  
    .badge {
      background-color: red;
      color: black;
      padding: .5px 1px;
      text-align: center;
      border-radius: 3px;
      font-size: 15px;
    }
  
    .mbox a:hover {
      background: #123;
      color: aliceblue;
      /* font-size: 15px; */
    }
  
    sup {
      vertical-align: super;
      font-size: 12px;
      color: red;
      font-weight: 700;
  }
  
    @media (max-width:450px) {
      .heading {
        font-size: 5px;
      }
  
      .container .heading {
        font-size: 25px;
      }
  
      .container .box-container {
        grid-template-columns: 1fr;
      }
  
      .mbox {
        font-size: 15px;
      }
  
      .mbox a {
        font-size: 12px;
        padding: 4px 6px;
      }
    }
  </style>
   -->
  
  <body onload="myFunction()">
    <div id="loading"></div>
  
  
  
  
    <!-- MAIN SECTION -->
  
  
    <div class="container">
  
      <div>
  
        <h1 class="heading">NPTEL</h1>
        <div class="box-container">
  
          <div class="box">
            <div class="content">
              <h2>Discrete Mathematics</h2>
              <li class="mbox">Week 1 - <br><a href="Discrete-mathematics/dm-week1.html">Assignment</a>&nbsp;<a
                  href="/NPTEL/Discrete-mathematics/WEEK-1_ HANDWITTEN NOTES+QUESTION_Alasso.pdf"
                  target="_blank">NOTES</a>&nbsp;<sup>NEW</sup>
              <li class="mbox">Week 2 - <br><a href="Discrete-mathematics/dm-week2.html">Assignment</a>
              <li class="mbox">Week 3 - <br><a href="Discrete-mathematics/dm-week3.html">Assignment</a>
              <li class="mbox">Week 4 - <br><a href="Discrete-mathematics/dm-week4.html">Assignment</a>
              <li class="mbox">Week 5 - <br><a href="Discrete-mathematics/dm-week5.html">Assignment</a>&nbsp;<sup>NEW</sup>
            </div>
          </div>
  
          <div class="box">
            <div class="content">
              <h2>Data Structure And Algorithms Using Java</h2>
              <li class="mbox">Week 1 - <br><a href="DSA-using-Java/DSA-J-week1.html">Assignment</a>
              <li class="mbox">Week 5 - <br><a href="DSA-using-Java/DSA-J-week5.html">Assignment</a>&nbsp;<sup>NEW</sup>
            </div>
          </div>
  
          <div class="box">
            <div class="content">
              <h2>Computer Graphics</h2>
              <li class="mbox">Week 1 - <br><a href="ComputerGraphics/CG-week1.html">Assignment</a>
              <li class="mbox">Week 2 - <br><a href="ComputerGraphics/CG-week2.html">Assignment</a>
            </div>
          </div>
        </div>
  
  
  
      </div>
      <div id="load-more">Load More</div>
    </div>
  

  