<div id="loading"></div>




  <!-- SLIDER -->
  <div class="slider">
    <figure>
      <img src="/Images/Alasso (5).png">
      <img src="/Images/Alasso (6).png">
      <img src="/Images/Alasso (7).png">
      <img src="/Images/Alasso (5).png">
      <img src="/Images/Alasso (6).png">
    </figure>
  </div>
  <br>
 

  <!-- CARDS -->
  <div class="container my-1">
    <!-- <h1 class="heading">Welcome Alassians &#128516</h1> -->
    <div class="box-container">

      <div class="box">
        <div class="image">
          <!-- <img src="https://source.unsplash.com/random/1920x1080/?college,clubs" alt=""> -->
          <img src="/Images/Talents.png" alt="">
        </div>
        <div  class="content">
          <h2>Alasso Community</h2>
          <p>A Community that will provide you free resources on a single click from all over the internet. Make best
            use of it.
          </p>
          <a href="/community" class="btn">Explore</a>
        </div>
      </div>


      <div class="box">
        <div class="image">
          <img src="/Images/doubts.png" alt="">
        </div>
        <div class="content">
          <h2>Doubts</h2>
          <p>A Section where most asked questions has been filtered out and you can connect to your seniors on Discord
            and participate in challenges.</p>
          <a href="https://discord.gg/bMWNAxp9Uz" target="_blank" class="btn">Join Discord</a>&nbsp;&nbsp;<a
            href="/doubts" class="btn">FAQ's</a>
        </div>
      </div>


      <div class="box">
        <div class="image">
          <img src="/Images/Study Material.png" alt="">
        </div>
        <div class="content">
          <h2>Learning Materials</h2>
          <p>You will find all those Academics works here which creates a so much pressure on us. We have a one click
            solution for you so that you can work on your extra skills which are also provided by us. <br> <a
              href="/community">Let's Learn Something New</a></p>
          <a href="/study_material" class="btn">Explore</a>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="/Images/Developers.png" alt="">
        </div>
        <div class="content">
          <h2>Developers</h2>
          <p>Know about the developers of <strong>Alasso</strong> having a lots of knowledge in different fields. You
            can connect with them on their socials.</p>
          <a href="/developers" class="btn">Explore</a>
        </div>
      </div>



    </div>
    <div id="load-more">Load More</div>
  </div>


