
<style>
   
</style>

<footer>
    <div class="footer-content">
        <h3><strong>ALASSO</strong></h3>
        <p>We are Team <strong>Alasso</strong> and we are here to make your college journey effortless. <br><a
                href="mailto:alasso.tech@gmail.com">Contact Us</a></p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-github"></i></a></li>
            <li><a href="https://www.instagram.com/alasso.tech/" target="_blank"><i class="fa fa-instagram"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>Copyright &copy; 2022 <strong>Alasso</strong> | All Rights &reg; Reserved.</p>
        <p>Designed by <a href="https://www.linkedin.com/in/shivam-kumar-11493921a/" target="_blank">Shivam</a></p>
    </div>
</footer>