<style>

    .container{
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .mbox {
        font-size: 1.5rem;
        color: black;
    }

    .mbox a {
        color: sandybrown;
        text-decoration: none;
    }

    sup {
        vertical-align: super;
        font-size: 12px;
        color: red;
        font-weight: 700;
    }
</style>


<div class="container">

    <div class="box-container">
        <div class="box">
            <div class="content">
                <h1 class="heading">Entrepreneurship</h1>
                <ul><br>
                    <hr>
                    <li class="mbox"><a href="/study-material/Entrepreneurship/answers.pdf">DOWNLOAD ANSWER PDF</a>&nbsp;<sup>NEW 1</sup></li>
                    <hr>
                    <li class="mbox"><a href="/study-material/Entrepreneurship/learning-path.html">LEARNING PATH - ENTREPRENEURSHIP </a></li>
                    <hr>
                    <li class="mbox"><a href="/study-material/Entrepreneurship/entrepreneurship-foundations-linkedin-learning.html">Entrepreneurship
                            Foundations</a></li>
                    <hr>
                    <li class="mbox"><a href="/study-material/Entrepreneurship/use-an-entrepreneurship-mindset.html">Use an Entrepreneurship Mindset
                            to Find Success and Fulfillment at work</a></li>
                    <hr>
                    <li class="mbox"><a href="/study-material/Entrepreneurship/unique-ways-to-generate-creative-ideas.html">Unique ways to Generate
                            Creative Ideas</a></li>
                    <hr>
                    <li class="mbox"><a href="/study-material/Entrepreneurship/finding-and-testing-your-business-idea.html">Finding and Testing your
                            Business Idea</a></li>
                    <hr>
                    <li class="mbox"><a href="/study-material/Entrepreneurship/creating-a-business-plan.html">Creating a Business Plan</a></li>
                    <hr>
                    <li class="mbox"><a href="/study-material/Entrepreneurship/social-selling-reaching-prospects.html">Social Selling: Reaching
                            Prospects</a></li>
                    <hr>
                    <li class="mbox"><a href="/study-material/Entrepreneurship/virtual-selling-for-sales-professionals.html">Virtual Selling for
                            Sales Professionals</a></li>
                    <hr>
                    <li class="mbox"><a href="/study-material/Entrepreneurship/social-media-marketing-for-small-business.html">Social Media Marketing
                            for Small Business</a></li>
                    <hr>
                    <li class="mbox"><a href="/study-material/Entrepreneurship/leading-in-government.html">Leading in Government</a></li>
                    <hr>
                    <li class="mbox"><a href="/study-material/Entrepreneurship/project-management-government-projects.html">Project Management:
                            Government Projects</a></li>
                    <hr>
                </ul>
            </div>
        </div>
    </div>
</div>
