

<style>
    .container .box-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            gap: 20px;
    }

    li {
            text-decoration: none;
            color: aliceblue;
            padding-top: 5px;
    }

    a {
            color: burlywood;
    }

    @media (max-width:550px) {

            .container .heading {
                    font-size: 25px;
            }

            .container .box-container {
                    grid-template-columns: 1fr;
            }

            .mobile {
                    visibility: hidden;
            }

            .container .box-container .box .content h2 {
                    font-size: 22px;
            }

            /* .head{
                    font-size: 8px;
            } */
    }
</style>



<div class="container">
    <h1 class="heading">1st Semester</h1>
    <div class="box-container">
        <div class="box">
            <div class="content">
                <h2>Computer Graphics Using CAD Lab</h2>
                <li class="mbox"><strong>Worksheet 1.1 -- </strong><a class="mobile"
                        href="/study-material/Autocad/1.1(a).dwg">.dwg&nbsp;|&nbsp;</a><a
                        href="/study-material/Autocad/Autocad[1.1(A)]-Alasso.pdf" Download>Download
                        Q1</a>&nbsp;|&nbsp;<a href="/study-material/Autocad/Autocad[1.1(B)]-Alasso.pdf"
                        download>Download Q2</a></li>
                <hr>
                <li class="mbox"><strong>Worksheet 1.2 -- </strong><a class="mobile"
                        href="/study-material/Autocad/EXP1.2.dwg">.dwg&nbsp;|&nbsp;</a><a
                        href="/study-material/Autocad/Autocad(1.2)-Alasso.pdf">Download</a>
                </li>
                <hr>
                <li class="mbox"><strong>Worksheet 1.3 -- </strong><a class="mobile"
                        href="/study-material/Autocad/EXP1.3.dwg">.dwg&nbsp;|&nbsp;</a><a
                        href="/study-material/Autocad/Autocad(1.3)-Alasso.pdf">Download</a>
                </li>

                <div class="icons">
                    <span><i class="fas fa-calendar"></i>3rd August, 2022</span>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <h2>Basic of Electrical and Electronics Engineering</h2>
                <li class="mbox"><strong>Worksheet 1.1 -- </strong><a class="mobile"
                        href="/study-material/BEEE/BEEE(1.1)-Alasso.pdf" target="_blank">View&nbsp;|&nbsp;</a><a
                        href="/study-material/BEEE/BEEE(1.1)-Alasso.docx">Download</a>
                </li>

                <hr>
                <li class="mbox"><strong>Worksheet 1.2 -- </strong><a class="mobile"
                        href="/study-material/BEEE/BEEE(1.2)-Alasso.pdf" target="_blank">View&nbsp;|&nbsp;</a><a
                        href="/study-material/BEEE/BEEE(1.2)-Alasso.docx">Download</a>
                </li>

                <hr>
                <li class="mbox"><strong>Worksheet 1.3 -- </strong><a class="mobile"
                        href="/study-material/BEEE/BEEE(1.3)-Alasso.pdf" target="_blank">View&nbsp;|&nbsp;</a><a
                        href="/study-material/BEEE/BEEE(1.3)-Alasso.docx" target="_blank">Download</a>
                </li>


                <div class="icons">
                    <span><i class="fas fa-calendar"></i>3rd August, 2022</span>
                </div>
            </div>
        </div>


        <div class="box">
            <div class="content">
                <h2>Digital Electronics</h2>
                <li class="mbox"><strong>Worksheet 1.1 -- </strong><a class="mobile"
                        href="/study-material/DE/DE-(1.1)-Alasso.pdf" target="_blank">View&nbsp;|&nbsp;</a><a
                        href="/study-material/DE/DE(1.1)-Alasso.docx" target="_blank">Download</a></li>
                <hr>
                <li class="mbox"><strong>Worksheet 1.2 -- </strong><a class="mobile"
                        href="/study-material/DE/DE(1.2)-Alasso.pdf" target="_blank">View&nbsp;|&nbsp;</a><a
                        href="/study-material/DE/DE(1.2)-Alasso.docx" target="_blank">Download</a></li>
                <hr>
                <li class="mbox"><strong>Worksheet 1.3 -- </strong><a class="mobile"
                        href="/study-material/DE/DE(1.3)-Alasso.pdf" target="_blank">View&nbsp;|&nbsp;</a><a
                        href="/study-material/DE/DE(1.3)-Alasso.docx" target="_blank">Download</a></li>
                <hr>
                <li class="mbox"><strong>Worksheet 1.4 -- </strong><a class="mobile"
                        href="/study-material/DE/DE(1.4)-Alasso.pdf" target="_blank">View&nbsp;|&nbsp;</a><a
                        href="/study-material/DE/DE(1.4)-Alasso.docx" target="_blank">Download</a></li>

                <div class="icons">
                    <span><i class="fas fa-calendar"></i>3rd August, 2022</span>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <h2>Physics</h2>
                <li class="mbox"><strong>Worksheet 1.1 -- </strong><a class="mobile"
                        href="/study-material/Physics/Physics(1.1)-Alasso.pdf" target="_blank">View&nbsp;|&nbsp;</a><a
                        href="/study-material/Physics/Physics(1.1)-Alasso.docx">Download</a>
                </li>
                <hr>
                <li class="mbox"><strong>Worksheet 1.2 -- </strong><a class="mobile"
                        href="/study-material/Physics/Physics(1.2)-Alasso.pdf" target="_blank">View&nbsp;|&nbsp;</a><a
                        href="/study-material/Physics/Physics(1.2)-Alasso.docx">Download</a>
                </li>
                <hr>
                <li class="mbox"><strong>Worksheet 1.3 -- </strong><a class="mobile"
                        href="/study-material/Physics/Physics(1.3)-Alasso.pdf" target="_blank">View&nbsp;|&nbsp;</a><a
                        href="/study-material/Physics/Physics(1.3)-Alasso.docx">Download</a>
                </li>

                <div class="icons">
                    <span><i class="fas fa-calendar"></i>3rd August, 2022</span>
                </div>
            </div>
        </div>

    </div>
    <div id="load-more">Load More</div>
</div>



