<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/headTag.ejs') %>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <main>

        <%- body %>

    </main>



    <%- include('../partials/footer.ejs') %>

    <script  src="js/app.js"></script>
    <script  src="/js/APIjs.js"></script>


    
</body>
</html>