

<style>
    .container .box-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            gap: 20px;
    }

    li {
            text-decoration: none;
            color: aliceblue;
            padding-top: 5px;
    }

    a {
            color: burlywood;
    }
    sup {
    vertical-align: super;
    font-size: 12px;
    color: red;
    font-weight: 700;
}

    @media (max-width:550px) {

            .container .heading {
                    font-size: 25px;
            }

            .container .box-container {
                    grid-template-columns: 1fr;
            }

            .mobile {
                    visibility: hidden;
            }

            .container .box-container .box .content h2 {
                    font-size: 22px;
            }

            /* .head{
                    font-size: 8px;
            } */
    }
</style>


<div class="container">
    <h1 class="heading">3rd Semester - AIML</h1>
    <div class="box-container">

        <div class="box">
            <div class="content">
                <h2>Operating Systems</h2>
                <li class="mbox"><strong>Worksheet 1.1 -- </strong><a class="mobile" href="/study-material/AIML/OS-1.1_Alasso.pdf" target="_blank">View&nbsp;|&nbsp;</a><a
                        href="/study-material/AIML/OS-1.1_Alasso.pdf">Download</a>&nbsp;|&nbsp;<a href="/study-material/AIML/OS_Images_Alasso.doc" target="_blank">Image File</a><sup>NEW</sup></li>
                 <!-- <hr> -->
                <!-- <li class="mbox"><strong>Worksheet 1.2 -- </strong><a class="mobile" href="/study-material/DS/DS-Worksheet-2_Alasso.pdf" target="_blank">View&nbsp;|&nbsp;</a><a
                        href="/study-material/DS/DS-Worksheet-2_Alasso.docx">Download</a>&nbsp;|&nbsp;<a href="/study-material/DS/ws2.cpp" target="_blank">Code.cpp</a><sup>NEW</sup></li>
                <hr>
                <li class="mbox"><strong>Worksheet 1.3 -- </strong><a class="mobile" href="/study-material/DS/DS-Worksheet-3_Alasso.pdf" target="_blank">View&nbsp;|&nbsp;</a><a
                        href="/study-material/DS/DS-Worksheet-3_Alasso.docx">Download</a>&nbsp;|&nbsp;<a href="/study-material/DS/worksheet3.cpp" target="_blank">Code.cpp</a><sup>NEW</sup></li>  -->
                <div class="icons">
                    <span><i class="fas fa-calendar"></i>31st August, 2022</span>
                </div>
            </div>
        </div>


        <div class="box">
            <div class="content">
                <h2>Programming in JAVA</h2>
                <li class="mbox"><strong>Worksheet 1.1 -- </strong><a class="mobile" href="/study-material/AIML/Java-1.1_Alasso.pdf" target="_blank">View&nbsp;|&nbsp;</a><a
                        href="/study-material/AIML/Java-1.1_Alasso.docx">Download</a></li>
                        <hr>
                <li class="mbox"><strong>Worksheet 1.2 -- </strong><a class="mobile" href="/study-material/AIML/Java-worksheet-2_Alasso.pdf" target="_blank">View&nbsp;|&nbsp;</a><a
                        href="/study-material/AIML/Java-worksheet-2_Alasso.docx">Download</a></a><sup>NEW</sup></li>
                        <!-- <hr>
                <li class="mbox"><strong>Worksheet 1.3 -- </strong><a class="mobile" href="/study-material/JAVA/JAVA-Worksheet-3_Alasso.pdf" target="_blank">View&nbsp;|&nbsp;</a><a
                        href="/study-material/JAVA/JAVA-Worksheet-3_Alasso.docx">Download</a>&nbsp;|&nbsp;<a href="/study-material/JAVA/InstanceOFTutorial.java" target="_blank">Code.Java</a><sup>NEW</sup></li>
                 -->
                <div class="icons">
                    <span><i class="fas fa-calendar"></i>09th September, 2022</span>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <h2>DataBase Management System</h2>
                <li class="mbox"><strong>Worksheet 1.1 -- </strong><a class="mobile" href="/study-material/DBMS/dbms-worksheet-1_Alasso.pdf" target="_blank">View&nbsp;|&nbsp;</a><a
                    href="/study-material/DBMS/DBMS-WS-1_Alasso.docx">Download</a></a><sup>NEW</sup></li>
                        <hr>
                    <li class="mbox"><strong>Worksheet 1.2 -- </strong><a class="mobile" href="/study-material/AIML/DBMS-worksheet-2_Alasso.pdf" target="_blank">View&nbsp;|&nbsp;</a><a
                        href="/study-material/AIML/DBMS-worksheet-2_Alasso.docx">Download</a></a><sup>NEW</sup></li>

                <div class="icons">
                    <span><i class="fas fa-calendar"></i>09th September, 2022</span>
                </div>
            </div>
        </div>


        <div class="box">
            <div class="content">
                <h2>Pyhton for Machine Learning</h2>
                <li class="mbox"><strong>Worksheet 1.1 -- </strong><a class="mobile" href="/study-material/AIML/Python-1.1_Alasso.pdf" target="_blank">View&nbsp;|&nbsp;</a><a
                    href="/study-material/AIML/python-1.1_Alasso.docx">Download</a></li>
                <hr>
                <li class="mbox"><strong>Worksheet 1.2 -- </strong><a class="mobile" href="/study-material/AIML/Python-worksheet-2_Alasso.pdf">View &nbsp;|&nbsp;</a><a
                        href="/study-material/AIML/Python-worksheet-2_Alasso.docx">Download</a><sup>NEW</sup></li>
                <hr>
                <li class="mbox"><strong>Worksheet 1.3 -- </strong><a class="mobile" href="/study-material/AIML/Python-worksheet-3_Alasso.pdf">View &nbsp;|&nbsp;</a><a
                        href="/study-material/AIML/Python-worksheet-3_Alasso.docx">Download</a><sup>NEW</sup></li>
                <div class="icons">
                    <span><i class="fas fa-calendar"></i>09th September, 2022</span>
                </div>
            </div>
        </div>


        <div class="box">
            <div class="content">
                <h2>Data Structures</h2>
                <li class="mbox"><strong>Worksheet 1.1 -- </strong><a class="mobile" href="/study-material/AIML/DS-worksheet-1_Alasso.pdf" target="_blank">View&nbsp;|&nbsp;</a><a
                    href="/study-material/AIML/DS-worksheet-1_Alasso.docx">Download</a><sup>NEW</sup></li>
                <!-- <hr>
                <li class="mbox"><strong>Worksheet 1.2 -- </strong><a class="mobile" href="/study-material/AIML/Python-worksheet-2_Alasso.pdf">View &nbsp;|&nbsp;</a><a
                        href="/study-material/AIML/Python-worksheet-2_Alasso.docx">Download</a><sup>NEW</sup></li>
                <hr>
                <li class="mbox"><strong>Worksheet 1.3 -- </strong><a class="mobile" href="/study-material/AIML/Python-worksheet-3_Alasso.pdf">View &nbsp;|&nbsp;</a><a
                        href="/study-material/AIML/Python-worksheet-3_Alasso.docx">Download</a><sup>NEW</sup></li> -->
                <div class="icons">
                    <span><i class="fas fa-calendar"></i>09th September, 2022</span>
                </div>
            </div>
        </div>


    </div>
    <div id="load-more">Load More</div>
</div>